# Rename this file to .env

### Basic config, mandatory
# Kaspa network: kaspa/kaspatest/kaspadev
KAS_NETWORK_PREFIX="kaspa"
# Kaspa node IP[:port]
KAS_RPC_SERVER="127.0.0.1"

### swap variables
# LN invoice max expiry allowed (in seconds)
MAX_LN_INVOICE_EXPIRY=3600
# minimum DAA confirmations before redeeming the contract (~10 seconds)
MIN_DAA_CONFIRMATIONS=100

### Optional, needed for auto-swap and taker_dummy_ui.py
## LND
# LND IP:port
LN_RPC_SERVER="127.0.0.1:10009"
# lncli binary, use full path if binary is not in default PATH e.g. /usr/bin/lncli
LNCLI="lncli"
# default LN invoice expiry (in seconds)
LNCLI_INVOICE_EXPIRY=300
## kaspawallet, it's advised to create a dedicated wallet and specify KASPAWALLET_KEY_FILE
# kaspawallet binary, use full path if binary is not in default PATH e.g. /usr/bin/kaspawallet
KASPAWALLET="kaspawallet"
# kaspawallet password
KASPAWALLET_PASSWORD="password"
# kaspawallet daemon address:port (wallet daemon must be started manually)
KASPAWALLET_DAEMON="127.0.0.1:8082"
# kaspawallet keys path
KASPAWALLET_KEY_FILE="/home/user/.kaspawallet/another_wallet.keys"

### Maker
# path for storing the hidden service (.onion) key
HIDDEN_SERVICE_KEY_PATH="/path/to/hidden_service_key"
# interval between Maker refresh, i.e. update offers (in seconds)
MAKER_REFRESH_DELAY=3
# how long a negotiated offer will be valid
OFFER_VALIDITY_SECONDS=30

### P2P
# don't change this, unless you know what you're doing
P2P_SEED_NODES="exlg6u3252bnzit7mgia3tpb2yctafmo3wbev72pwmxeqg7jiywsx2yd.onion:48888,mgipaoe5skumwnaiep6upojid6pk5xqupya7jcen22uhgaje2yty7mqd.onion:48889,zca474adco66rxxg4ctt5apwwqcoljc6tpww5vjb3z3uvygireblesyd.onion:48890"
# max number of p2p connected nodes
P2P_SERVER_LIMIT=3
